

/*override html color*/
html, body {
    background-color: #282830 !important;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 0;
}

/* STL_ keyword means text */
[class^="stl_"], [class*=" stl_"] {
    color: #cccccc !important;
    background-color: transparent !important;
}

/*mkae svg to multiplicative, mix with bg*/
object[type="image/svg+xml"], embed[type="image/svg+xml"] {
    filter: invert(1) brightness(0.6) contrast(1.0)  !important;
    mix-blend-mode: difference !important;
}
